{
    auto_https disable_redirects
}

# Caddy Dashboard (optional)
:2019 {
    metrics /metrics
}

# Portainer
portainer.frostlabs.home {
    reverse_proxy portainer:9000
    tls internal
}

# Paperless-NGX
docs.frostlabs.home {
    reverse_proxy paperless:8000
    tls internal
}

# Adminer
miner.frostlabs.home {
    reverse_proxy adminer:8091
    tls internal
}